body {
  background-color: white;
  color: black;
}

.dark {
  background-color: black;
  color: lightgray;
}

.app {
  width: 100vw;
}

.taskitem:nth-child(even) {
  background-color: darkgreen;
  color: yellow;
}

.hidden {
  display: none
}

button {
  background-color: pink;
}