body {
  background-color: white;
  color: black;
}

button {
  background-color: pink;
}

button:active {
  background-color: aqua;
}

select:hover {
  cursor: pointer;
}

.app {
  width: 100vw;
}

.dark {
  background-color: black;
  color: lightgray;
}

.errormessage {
  color: red;
}

.taskitem:nth-child(even), .statscontainer {
  background-color: darkgreen;
  color: yellow;
}
